<nav class="navbar navbar-expand-lg bg-light">
        <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Inicio</a>
                        </li>

                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/listado-categorias">Listado
                                        de categorías</a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/productos">Productos </a></li>
                        <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        routerLink="/carrito-compras">Carrito de
                                        compras</a></li>
                </ul>
        </div>

</nav>